### DATA ANALYZATION

In [31]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv("Sample - Superstore - Sample - Superstore.csv")

### ROWS AND COLUMNS

In [7]:
df.shape

(9994, 21)

In [8]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [9]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [11]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [5]:
df.value_counts()

Row ID  Order ID        Order Date  Ship Date   Ship Mode       Customer ID  Customer Name     Segment    Country        City             State       Postal Code  Region  Product ID       Category         Sub-Category  Product Name                                                               Sales     Quantity  Discount  Profit
1       CA-2016-152156  11/8/2016   11/11/2016  Second Class    CG-12520     Claire Gute       Consumer   United States  Henderson        Kentucky    42420        South   FUR-BO-10001798  Furniture        Bookcases     Bush Somerset Collection Bookcase                                          261.9600  2         0.00       41.9136     1
2       CA-2016-152156  11/8/2016   11/11/2016  Second Class    CG-12520     Claire Gute       Consumer   United States  Henderson        Kentucky    42420        South   FUR-CH-10000454  Furniture        Chairs        Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back                731.9400  3         0.00       219.5820    1
3       CA-2016-138688  6/12/2016   6/16/2016   Second Class    DV-13045     Darrin Van Huff   Corporate  United States  Los Angeles      California  90036        West    OFF-LA-10000240  Office Supplies  Labels        Self-Adhesive Address Labels for Typewriters by Universal                  14.6200   2         0.00       6.8714      1
4       US-2015-108966  10/11/2015  10/18/2015  Standard Class  SO-20335     Sean O'Donnell    Consumer   United States  Fort Lauderdale  Florida     33311        South   FUR-TA-10000577  Furniture        Tables        Bretford CR4500 Series Slim Rectangular Table                              957.5775  5         0.45      -383.0310    1
5       US-2015-108966  10/11/2015  10/18/2015  Standard Class  SO-20335     Sean O'Donnell    Consumer   United States  Fort Lauderdale  Florida     33311        South   OFF-ST-10000760  Office Supplies  Storage       Eldon Fold 'N Roll Cart System                                             22.3680   2         0.20       2.5164      1
                                                                                                                                                                                                                                                                                                                                                ..
9990    CA-2014-110422  1/21/2014   1/23/2014   Second Class    TB-21400     Tom Boeckenhauer  Consumer   United States  Miami            Florida     33180        South   FUR-FU-10001889  Furniture        Furnishings   Ultra Door Pull Handle                                                     25.2480   3         0.20       4.1028      1
9991    CA-2017-121258  2/26/2017   3/3/2017    Standard Class  DB-13060     Dave Brooks       Consumer   United States  Costa Mesa       California  92627        West    FUR-FU-10000747  Furniture        Furnishings   Tenex B1-RE Series Chair Mats for Low Pile Carpets                         91.9600   2         0.00       15.6332     1
9992    CA-2017-121258  2/26/2017   3/3/2017    Standard Class  DB-13060     Dave Brooks       Consumer   United States  Costa Mesa       California  92627        West    TEC-PH-10003645  Technology       Phones        Aastra 57i VoIP phone                                                      258.5760  2         0.20       19.3932     1
9993    CA-2017-121258  2/26/2017   3/3/2017    Standard Class  DB-13060     Dave Brooks       Consumer   United States  Costa Mesa       California  92627        West    OFF-PA-10004041  Office Supplies  Paper         It's Hot Message Books with Stickers, 2 3/4" x 5"                          29.6000   4         0.00       13.3200     1
9994    CA-2017-119914  5/4/2017    5/9/2017    Second Class    CC-12220     Chris Cortes      Consumer   United States  Westminster      California  92683        West    OFF-AP-10002684  Office Supplies  Appliances    Acco 7-Outlet Masterpiece Power Center, Wihtout Fax/Phone Line Protection  243.1600  2         0.00       72.9480     1
Name: count, Length: 9994, dtype: int64

In [9]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

In [27]:


df['Order Date'] = pd.to_datetime(df['Order Date'])
df.sort_values('Order Date').tail()
# df.sort_values('Order Date').head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
5091,5092,CA-2017-156720,2017-12-30,1/3/2018,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,...,80538,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048
908,909,CA-2017-143259,2017-12-30,1/3/2018,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,52.776,3,0.2,19.7910
907,908,CA-2017-143259,2017-12-30,1/3/2018,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009,East,TEC-PH-10004774,Technology,Phones,Gear Head AU3700S Headset,90.930,7,0.0,2.7279
1296,1297,CA-2017-115427,2017-12-30,1/3/2018,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,...,94533,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188
906,907,CA-2017-143259,2017-12-30,1/3/2018,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009,East,FUR-BO-10003441,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",323.136,4,0.2,12.1176

In [29]:
print(df['Order Date'].head())

0   2016-11-08
1   2016-11-08
2   2016-06-12
3   2015-10-11
4   2015-10-11
Name: Order Date, dtype: datetime64[ns]

In [28]:
df.info()
#key eye out for order date and you understand it !

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(14)
memory usage: 1.6+ MB

In [35]:
df.groupby('Category').agg({'Sales': ['mean', 'sum']})

                      Sales
                       mean          sum
Category
Furniture        349.834887  741999.7953
Office Supplies  119.324101  719047.0320
Technology       452.709276  836154.0330

In [37]:
count_by_category = df.groupby('Category')['Product Name'].count().reset_index(name='count')
print(count_by_category)

          Category  count
0        Furniture   2121
1  Office Supplies   6026
2       Technology   1847

In [36]:
df['Category'].value_counts()

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64